# Pandas - ATP

Evaluamos la información del archivo:

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("atp.csv")
print(df.info())

c:\users\feder\appdata\local\programs\python\python38-32\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46652 entries, 0 to 46651
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         46652 non-null  int64
 1   Location    46652 non-null  object
 2   Tournament  46652 non-null  object
 3   Date        46652 non-null  object
 4   Series      46652 non-null  object
 5   Court       46652 non-null  object
 6   Surface     46652 non-null  object
 7   Round       46652 non-null  object
 8   Best of     46652 non-null  int64
 9   Winner      46652 non-null  object
 10  Loser       46652 non-null  object
 11  WRank       46637 non-null  object
 12  LRank       46581 non-null  object
 13  W1          46423 non-null  float64
 14  L1          46423 non-null  float64
 15  W2          45962 non-null  float64
 16  L2          45963 non-null  float64
 17  W3          21365 non-null  float64
 18  L3          21365 non-null  float64
 19  W4          4226 non-null   float64
 20  L4          4226 non-null   float64
 21  W5          1617 non-null   float64
 22  L5          1617 non-null   float64
 23  Wsets       46462 non-null  float64
 24  Lsets       46462 non-null  float64
 25  Comment     46652 non-null  object
 26  CBW         17507 non-null  float64
 27  CBL         17507 non-null  float64
 28  GBW         5055 non-null   float64
 29  GBL         5055 non-null   float64
 30  IWW         13358 non-null  float64
 31  IWL         13358 non-null  float64
 32  SBW         5424 non-null   float64
 33  SBL         5424 non-null   float64
 34  B365W       38019 non-null  float64
 35  B365L       38042 non-null  float64
 36  B&WW        1097 non-null   float64
 37  B&WL        1097 non-null   float64
 38  EXW         33799 non-null  float64
 39  EXL         33804 non-null  float64
 40  PSW         31729 non-null  float64
 41  PSL         31729 non-null  float64
 42  WPts        30448 non-null  float64
 43  LPts        30396 non-null  float64
 44  UBW         10672 non-null  float64
 45  UBL         10672 non-null  float64
 46  LBW         23230 non-null  float64
 47  LBL         23239 non-null  float64
 48  SJW         15572 non-null  float64
 49  SJL         15579 non-null  float64
 50  MaxW        17104 non-null  float64
 51  MaxL        17104 non-null  float64
 52  AvgW        17104 non-null  float64
 53  AvgL        17104 non-null  float64
dtypes: float64(40), int64(2), object(12)
memory usage: 17.1+ MB
None

In [5]:
#Muestro los primeros 3 registros de la tabla
df.head(3)

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
0,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Enqvist T.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Escude N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df[["ATP", "Tournament", "Round", "Date"]].head(3)

   ATP                          Tournament      Round       Date
0    1  Australian Hardcourt Championships  1st Round  3/01/2000
1    1  Australian Hardcourt Championships  1st Round  3/01/2000
2    1  Australian Hardcourt Championships  1st Round  3/01/2000

In [26]:
df.groupby("Tournament").mean()

,ATP,Best of,W1,L1,W2,L2,W3,L3,W4,L4,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
Tournament,,,,,,,,,,,,,,,,,,,,,
AAPT Championships,1.000000,3.000000,5.838710,3.870968,5.918033,3.573770,6.228571,3.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABN AMRO World Tennis Tournament,12.235294,3.000000,5.873805,4.193117,5.858801,3.928433,6.205556,3.538889,NaN,NaN,...,1.988655,3.034118,1.901785,3.171942,1.825842,3.467924,2.008817,4.131075,1.858602,3.419624
AEGON Championships,34.053571,3.000000,5.994819,4.370466,5.828947,4.286842,6.218310,3.676056,NaN,NaN,...,1.602830,3.810000,1.820070,3.305733,1.806748,3.317726,2.058190,4.113205,1.866855,3.390742
AEGON International,34.465517,3.000000,5.936782,3.982759,5.750000,4.093023,6.309091,3.800000,NaN,NaN,...,1.859677,2.668387,1.899201,2.465098,1.910141,2.489329,2.109441,2.832448,1.936224,2.498531
AEGON Open,38.000000,3.000000,5.702128,4.159574,5.935484,4.333333,6.228571,3.685714,NaN,NaN,...,NaN,NaN,1.803978,2.578602,NaN,NaN,1.927128,2.888723,1.812553,2.609574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wimbledon,36.705882,4.987031,5.807156,4.276022,5.848131,4.188697,5.776148,4.052532,5.825758,4.050189,...,1.657723,4.958772,1.758486,4.821104,1.728855,4.667317,2.085816,54.781867,1.786603,5.160067
Winston-Salem Open at Wake Forest University,50.166667,3.000000,5.734767,4.175627,5.675090,3.924188,6.185841,3.548673,NaN,NaN,...,NaN,NaN,1.809639,2.425235,1.776000,2.525314,1.961099,2.734362,1.836702,2.470355
adidas International,5.000000,3.000000,5.967213,3.959016,5.745763,3.830508,6.257143,3.485714,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
adidas Open,60.000000,3.000000,5.580645,4.516129,6.266667,4.233333,6.153846,3.230769,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bet-at-home Open,43.589744,3.000000,5.500000,3.828947,5.864865,3.594595,6.280000,3.120000,NaN,NaN,...,NaN,NaN,1.973718,2.629359,2.041277,2.497234,2.150000,3.094872,1.982308,2.751410

In [4]:
#Convierto los NaN en 0 
filtrado = pd.DataFrame(df)
filtrado = filtrado.replace(np.nan, 0)
filtrado = filtrado.replace("NR", 0)
filtrado.head(3)

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
0,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Enqvist T.,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Escude N.,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
filtrado.describe(include=[np.number])

,ATP,Best of,W1,L1,W2,L2,W3,L3,W4,L4,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
count,46652.000000,46652.000000,46652.000000,46652.000000,46652.000000,46652.000000,46652.000000,46652.000000,46652.000000,46652.000000,...,46652.000000,46652.000000,46652.000000,46652.000000,46652.000000,46652.000000,46652.000000,46652.000000,46652.000000,46652.000000
mean,32.931000,3.373746,5.764233,4.023364,5.687473,3.796708,2.756152,1.645353,0.523322,0.350703,...,0.415377,0.810363,0.894180,1.748880,0.599424,1.188385,0.730275,3.602132,0.667288,1.358913
std,17.953268,0.780315,1.300821,1.864827,1.426358,1.921550,3.064699,2.152895,1.701287,1.248515,...,0.899287,2.292376,1.152345,2.847122,1.026367,2.528340,1.400616,277.395672,1.107630,2.751136
min,1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,3.000000,6.000000,3.000000,6.000000,2.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,33.000000,3.000000,6.000000,4.000000,6.000000,4.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,49.000000,3.000000,6.000000,6.000000,6.000000,6.000000,6.000000,3.000000,0.000000,0.000000,...,0.000000,0.000000,1.500000,2.500000,1.220000,1.730000,1.350000,2.150000,1.290000,1.990000
max,69.000000,5.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,18.000000,60.000000,26.000000,51.000000,19.000000,81.000000,76.000000,42586.000000,23.450000,36.440000

In [53]:
# Lista de las columnas
list(filtrado)

['ATP',
 'Location',
 'Tournament',
 'Date',
 'Series',
 'Court',
 'Surface',
 'Round',
 'Best of',
 'Winner',
 'Loser',
 'WRank',
 'LRank',
 'W1',
 'L1',
 'W2',
 'L2',
 'W3',
 'L3',
 'W4',
 'L4',
 'W5',
 'L5',
 'Wsets',
 'Lsets',
 'Comment',
 'CBW',
 'CBL',
 'GBW',
 'GBL',
 'IWW',
 'IWL',
 'SBW',
 'SBL',
 'B365W',
 'B365L',
 'B&WW',
 'B&WL',
 'EXW',
 'EXL',
 'PSW',
 'PSL',
 'WPts',
 'LPts',
 'UBW',
 'UBL',
 'LBW',
 'LBL',
 'SJW',
 'SJL',
 'MaxW',
 'MaxL',
 'AvgW',
 'AvgL']

In [62]:
#Seleccionar varios registros salteados
filtrado.iloc[[1,2,4]]

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
1,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Enqvist T.,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Escude N.,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Fromberg R.,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
#Primeras 3 columnas
filtrado.iloc[:,0:3]

       ATP        Location                          Tournament
0        1        Adelaide  Australian Hardcourt Championships
1        1        Adelaide  Australian Hardcourt Championships
2        1        Adelaide  Australian Hardcourt Championships
3        1        Adelaide  Australian Hardcourt Championships
4        1        Adelaide  Australian Hardcourt Championships
...    ...             ...                                 ...
46647   54  St. Petersburg                 St. Petersburg Open
46648   54  St. Petersburg                 St. Petersburg Open
46649   54  St. Petersburg                 St. Petersburg Open
46650   54  St. Petersburg                 St. Petersburg Open
46651   54  St. Petersburg                 St. Petersburg Open

[46652 rows x 3 columns]

In [70]:
#Selección de filas y columas
filtrado.iloc[[1,4,13],[1,4,5]]

    Location         Series    Court
1   Adelaide  International  Outdoor
4   Adelaide  International  Outdoor
13  Adelaide  International  Outdoor

In [71]:
#Rango de filas y columnas
filtrado.iloc[0:3,2:5]

                           Tournament       Date         Series
0  Australian Hardcourt Championships  3/01/2000  International
1  Australian Hardcourt Championships  3/01/2000  International
2  Australian Hardcourt Championships  3/01/2000  International

In [80]:
#Defino a Location como index y luego busco todos los índice de Melbourne
filtrado.set_index("Location", inplace=True) #Inplace True para que se lleve a cabo en las siguientes líneas
filtrado.loc["Melbourne"]

,ATP,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
Location,,,,,,,,,,,,,,,,,,,,,
Melbourne,6,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Agassi A.,Puerta M.,...,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00
Melbourne,6,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Alami K.,Manta L.,...,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00
Melbourne,6,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Arazi H.,Alonso J.,...,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00
Melbourne,6,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Behrend T.,Meligeni F.,...,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00
Melbourne,6,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Bjorkman J.,Stoltenberg J.,...,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Melbourne,6,Australian Open,27/01/2016,Grand Slam,Outdoor,Hard,Quarterfinals,5,Murray A.,Ferrer D.,...,0.0,0.0,1.17,5.00,0.0,0.0,1.23,5.75,1.18,4.92
Melbourne,6,Australian Open,27/01/2016,Grand Slam,Outdoor,Hard,Quarterfinals,5,Raonic M.,Monfils G.,...,0.0,0.0,1.36,3.25,0.0,0.0,1.39,3.50,1.35,3.22
Melbourne,6,Australian Open,28/01/2016,Grand Slam,Outdoor,Hard,Semifinals,5,Djokovic N.,Federer R.,...,0.0,0.0,1.30,3.50,0.0,0.0,1.40,3.75,1.32,3.41
Melbourne,6,Australian Open,29/01/2016,Grand Slam,Outdoor,Hard,Semifinals,5,Murray A.,Raonic M.,...,0.0,0.0,1.33,3.40,0.0,0.0,1.41,3.50,1.36,3.19
Melbourne,6,Australian Open,31/01/2016,Grand Slam,Outdoor,Hard,The Final,5,Djokovic N.,Murray A.,...,0.0,0.0,1.20,5.00,0.0,0.0,1.22,5.50,1.19,4.92

In [81]:
#Fila y columna
filtrado.loc["Atlanta", "Surface"]

Location
Atlanta    Clay
Atlanta    Clay
Atlanta    Clay
Atlanta    Clay
Atlanta    Clay
           ...
Atlanta    Hard
Atlanta    Hard
Atlanta    Hard
Atlanta    Hard
Atlanta    Hard
Name: Surface, Length: 251, dtype: object

In [82]:
filtrado.loc[["Atlanta"],["Surface", "Date"]]

         Surface        Date
Location
Atlanta     Clay  10/04/2000
Atlanta     Clay  10/04/2000
Atlanta     Clay  10/04/2000
Atlanta     Clay  10/04/2000
Atlanta     Clay  10/04/2000
...          ...         ...
Atlanta     Hard   5/08/2016
Atlanta     Hard   6/08/2016
Atlanta     Hard   6/08/2016
Atlanta     Hard   7/08/2016
Atlanta     Hard   7/08/2016

[251 rows x 2 columns]

In [6]:
#Selección solamente de Grand Slam
filtrado.loc[filtrado["Series"].str.endswith("Slam")]

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
155,6,Melbourne,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Agassi A.,...,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00
156,6,Melbourne,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Alami K.,...,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00
157,6,Melbourne,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Arazi H.,...,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00
158,6,Melbourne,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Behrend T.,...,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00
159,6,Melbourne,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Bjorkman J.,...,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46593,52,New York,US Open,7/09/2016,Grand Slam,Outdoor,Hard,Quarterfinals,5,Nishikori K.,...,0.0,0.0,5.50,1.14,0.0,0.0,6.18,1.17,5.45,1.15
46594,52,New York,US Open,8/09/2016,Grand Slam,Outdoor,Hard,Quarterfinals,5,Wawrinka S.,...,0.0,0.0,2.38,1.57,0.0,0.0,2.50,1.70,2.34,1.60
46595,52,New York,US Open,9/09/2016,Grand Slam,Outdoor,Hard,Semifinals,5,Djokovic N.,...,0.0,0.0,1.12,6.00,0.0,0.0,1.18,6.09,1.15,5.57
46596,52,New York,US Open,9/09/2016,Grand Slam,Outdoor,Hard,Semifinals,5,Wawrinka S.,...,0.0,0.0,2.10,1.73,0.0,0.0,2.27,1.78,2.12,1.72
46597,52,New York,US Open,11/09/2016,Grand Slam,Outdoor,Hard,The Final,5,Wawrinka S.,...,0.0,0.0,3.40,1.36,0.0,0.0,3.62,1.45,3.28,1.35